/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para o header */
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  header img {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

  header nav {
    margin-left: auto;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
  }
  
  header nav li {
    margin-left: 20px;
  }
  
  header nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  header nav li a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para a seção hero */
  .hero {
    background-color: #34d351;
    color: #fff;
    padding: 80px 0;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  .hero p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  .hero .btn {
    font-size: 24px; padding: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
  }

li {
    font-size: 24px; padding: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

h2{
    font-size: 24px; padding: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

p {
    font-size: 24px; padding: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

a.btn {
    font-size: 24px; padding: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}